<h1> Followers </h1>
<ul>
<% for(var i = 0; i < followedUsers.length; i++){%>
		<li> <%= followedUsers[i].get('username')%></li>
		<li> 
			<%if (relationshipStatuses[i]){%>
				You Follow
			<%}%>
		</li>
<% }%>
</ul>