<h1> Followers </h1>
<ul>
<% for(var i = 0; i < followedUsers.length; i++){%>
		<li>
			<a href="#/users/<%= followedUsers[i].get('id')%>">
				<%= followedUsers[i].get('username')%>
			</a>
		</li>
		<li> 
			<%if (relationshipStatuses[i]){%>
				You Follow
			<%}%>
		</li>
<% }%>
</ul>