<h1> You are following </h1>
<ul>
<% for(var i = 0; i < followingUsers.length; i++){%>
		<li>
			<a href="#/users/<%= followingUsers[i].get('id')%>">
				<%= followingUsers[i].get('username')%>
			</a>
		</li>
		<li> 
			<%if (relationshipStatuses[i]){%>
				Follows You
			<%}%>
		</li>
<% }%>
</ul>