<form class="user-pic-submit input-large">
	<input
	  type="filepicker"
	  data-fp-mimetype="image/*"
	  name="image[url]"
	  data-fp-button-text="Choose Image"
	  data-fp-button-class="btn btn-primary">
	<button class="btn btn-info"> Submit </button>
</form>