<div class="row">
	<div class="col xs-6">
		<div class="text-center">
		<div class="scatterDiv" style="background:black"></div>
		
			<h4>
					<span style="color:#4688E8">Users who follow you,</span>
					<span style="color:#FD48FF"> Users you follow you,<span/>
					 <span style="color:red">Mutual Follows<span/>
			</h4>,
		</div>
	</div>
</div>
	