<div class="row">
	<div class="col xs-6">
		<div class="text-center">
		<div class="scatterDiv"></div>
		
			<h4>
					<span id="you-follow">Users who follow you,</span>
					<span id="follow-you"> Users you follow you,<span/>
					<span id="mutual-follows">Mutual Follows<span/>
			</h4>,
			<h4>
					click entries to view users
			</h4>,
		</div>
	</div>
</div>
	