<div class="row">
	<div class="col-xs-12">
		<form class="userSearch">
			<input type="text" placeholder="Search..." class="user-search-bar" id="search" name="query">
		</form>
		<div class="results text-center"> 
			<ul class="users-list result-list"></ul>
		</div>
			
	</div>
</div>