<div class="row">
	<div class="col-xs-3 col-xs-offset-1">
		<div class="col-xs-8 col-xs-offset-2 ">
			<img src="assets/placeholder.jpeg"  class="img-circle img-responsive">
		</div>
		<h1> <%= user.get('username')%>
		<% if(currentUserId !== user.get('id')) {%>
			<% if(follows){%>
				<button class="unfollow btn btn-info"> Unfollow</button>
			<% } else {%>
				<button class="follow btn btn-info"> Follow</button>
			<% } %>
		<% } %> </h1>
		<br>
		<h4>
			<div class="col-xs-5 text-center">
				Followers: 		
				 <%=user.followerCount()%>
			</div>
			<div class="col-xs-5  text-center">
				Following: 		
				<%=user.followingCount()%>
			</div>
		</h4>
	
	
	</div>
		<h1 class="" bg-info""> Posts </h1>
	<div class="col-xs-4">
		<div class="posts">
		</div>
	</div>
</div>