<div class="row">
	<div class="col-xs-3 col-xs-offset-1">
		<h1> <%= user.get('username')%> </h1>
		<% if(currentUserId !== user.get('id')) {%>
			<% if(follows){%>
				<button class="unfollow btn"> Unfollow</button>
			<% } else {%>
				<button class="follow btn"> Follow</button>
			<% } %>
		<% } %>
		<br>
		followed by: 
		<ul>
			<% if(user.get('followers')){%>
				<% _(user.get('followers')).each(function(follower){%>
					<li> <%=follower.username%></li>
				<% }) %>
			<%}%>
		</ul>
	
	</div>
	<div class="col-xs-6">
		<ul>
			<% if(user.get('tweets')){%>
				<% _(user.get('tweets')).each(function(tweet){%>
					<li> <%=tweet.content%></li>
				<% }) %>
			<%}%>
		</ul>
	</div>
</div>