<div class="row">
	<div class="col-xs-3 col-xs-offset-1">
		<div class="col-xs-8 col-xs-offset-2 ">
			<img src="assets/placeholder.jpeg"  class="img-circle img-responsive">
		</div>
		<h1 class="text-center"> <%= user.get('username')%>
		<% if(currentUserId !== user.get('id')) {%>
			<% if(follows){%>
				<button class="unfollow btn btn-info"> Unfollow</button>
			<% } else {%>
				<button class="follow btn btn-info"> Follow</button>
			<% } %>
		<% } %> </h1>
		<!-- <br> -->
		<h4>
			<div class="col-xs-6 text-center">
				<button class="btn btn-info following"> Following: <%=user.followingCount()%></button>
			</div>
			<div class="col-xs-6 text-center">
				 <button class="btn btn-info followers"> Followers: <%=user.followerCount()%></button
			</div>
		</h4>
	
	
	</div>
		<h1> Posts </h1>
	<div class="col-xs-4">
		<div class="posts">
		</div>
	</div>
	
	<div class="expansionSlot"></div>
</div>