<div class="col-xs-12">
	New Comment
	<form class="comment-submit input-large">
		<textarea class="form-control" placeholder="post a comment"
							name="content" type="text"></textarea>
		<button class="btn btn-info"> Submit </button>
	</form>
</div>