<h2> <%= post.get('content')%></h2>

			<img src="http://maps.google.com/maps/api/staticmap?center=33.873415,-115.900992&zoom=9&markers=33.873415,-115.900992&size=500x300&sensor=TRUE_OR_FALSE"  class="img-responsive">

<h3>Comments:</h3>

<div class="comments-list">
</div>