<h3 class="expandpost"> <%= post.get('content')%></h3>
<h4> By <%= post.get('username')%> on <%= post.get('date')%> </h4>
			<div class="mapPost"></div>

<h3 style="text-center">Comments:</h3>

<div class="comments-list">
</div>

<div class="commment-form"></div>