<div class="row">	
	<div class="newcontent col-xs-3 col-xs-offset-1"></div>
	<div class="bg-info col-xs-4">
		<h1>Posts</h1>
		<ul class="posts "></ul>
	</div>
	<div class="expansionSlot col-xs-5-*"></div>
</div>