<h1> <%= user.get('username')%> </h1>
<button class="btn following-btn"> Following <%= collection.length%> </button>
<button class="btn followers-btn"> Followers <%= collection.length%> </button>
<form class="post-submit">
	<input id="content" name="content" type="text" placeholder="Post a new tweet"></input>
	<br>
	LOCATION
	<br>
	<button class="btn">Submit </button>
</form>
