<h1> <a href="#/users/<%= user.get('id')%>"><%= user.get('username')%></a> </h1>
 
<button class="btn following-btn"> Following <%= followingCount %> </button>
<button class="btn followers-btn"> Followers <%= followerCount %> </button>
<form class="post-submit">
	<input id="content" name="content" type="text" placeholder="Post a new tweet"></input>
	<br>
	LOCATION
	<br>
	<button class="btn">Submit </button>
</form>
