<div class="row">
	<div class="col-xs-12 user-info">
		<br>
		<div class="col-xs-8 col-xs-offset-2">
		
			<img src="assets/placeholder.jpeg"  class="img-circle img-responsive">
		</div>
	
			<div class="row">
				<div class="col-xs-12  text-center" style="word-wrap:break-word">
					<h1 class="text-center">
						<a href="#/users/<%= user.get('id')%>"><%= user.get('username')%></a>
					</h1>
				</div>
				<div class="col-xs-12 text-center" style="word-wrap:break-word">
						<div class="col-xs-6"> 
							<button class="btn btn-info following"> Following: <%=user.followingCount()%></button>
						</div>
						<div class="col-xs-6">
							 <button class="btn btn-info followers"> Followers: <%=user.followerCount()%></button
						</div>
						
			  </div>
				<br><br><br>
			</div>
		</div>
	</div>

		<div class="col-xs-12 text-center post-info">
			
			<strong>CHARS LEFT</strong> <strong class="chars-left">250</strong>
			<form class="post-submit" class="input-large">
				<textarea id="content" name="content" type="text"
				 class="form-control" placeholder="post a tweet" style="height:190px"></textarea>
				<strong> WHERE WERE YOU </strong>
				<div "location-subform">
						<input id="geocoderInput" name="geocoder" type="text"
						class="form-control" placeholder="Enter a Location">
				 </div>
 				<strong> WHERE WAS YOUR DREAM  </strong>
 				<div "location-subform">
 						<input id="geocoderInputDream" name="geocoderInputDream" type="text"
 						class="form-control" placeholder="Enter a Location">
 				 </div>
				<button class="btn  btn-info">Submit </button>
			</form>
		</div>
	</div>
</div>


<!-- </div> -->
	<!-- <div class="row"> -->
		<!-- <div class="col-xs-11"> -->