<li class="expandPost"  data-id="<%=post.id%>">
	<h4><%=post.get('content')%> 

	</h4>
	<h6>
		<div class="row">
			<div class="col-xs-5 col-xs-offset-7">
				<%if($("#currentUser").data().id === user.get('id')){%> 
					<button class="removeTweet">delete post</button>
				<%} else{ %>
					Posted by
					<a href="#/users/<%= user.get('id')%>">
						<%= user.get('username')%>
					</a>
				<% } %>
			</div>
		</div>
	</h6>
</li>