<li class="expandPost"  data-id="<%=post.id%>">
	<h4><%=post.get('content')%> 

	</h4>
	<h6>
		Posted by
		<a href="#/users/<%= user.get('id')%>">
			<%= user.get('username')%>
		</a>
		<%if($("#currentUser").data().id === user.get('id')){%> 
			<button class="removeTweet">delete post</button>
		<%}%>
	</h6>
</li>