<h4>Select start date: </h4>
<form id="date-selector" class="form-inline" role="form">
	<div class="trendpicker-wrapper">
		<input id="trendpicker" type="date" placeholder="2011-01-13" name="date"/>
	</div>
</form>
<h4>Data takes a moment to load </h4>
<div class="row trendingList" style="height:240">
	<%for(var i = 0; i < trends.length; i++){%>
		<div class="col-xs-2">
			<ul class="trender">
				<li style="width:60px"><%=trends[i][0].slice(5)%></li>
				<%for(var j = 0; j < trends[i][0].length; j++){%>
						<%if(multiples.indexOf(trends[i][1][j][0]) < 0 ){ %>
							<li>  #<%=trends[i][1][j][0]%> </li>
						<%} else {%>
							<%var colorIndex = multiples.indexOf(trends[i][1][j][0])%>
							<li style="color:<%=colors[colorIndex]%>"> #<%=trends[i][1][j][0]%> </li>
						<%}%>
					 
				<%}%>
			</ul>
		</div>
	<%}%>
</div>
<h4> <a id="refreshColors">Multiples of the same word are denoted by color</a> </h4>
