
<div class="post-blowup-map">post-blowup-map</div>

<div class="row">
	<div class="col-xs-6" id="username">
		<strong >
			Posted by <a href="#/users/<%=this.model.get('user_id')%>"><%=this.model.get("username")%></a>
			on <%=this.model.get('date') %>
		<strong>
	</div>
	<div class="col-xs-5 col-xs-offset-1">
		<strong> 
			<span id="poster-location">Poster Location</span>
			<span id="dream-location">Dream Location</span>
		</strong>
	</div>
</div>

<div class="comments-list" >
	<%if(this.model.comments().length === 0 ){%>	
		<h1>No comments!</h1>
	<%}%>
</div>
<div class="main-comments-form">main-comments-form</div>