<div class="post-blowup-map">post-blowup-map</div>
<div class="comments-list" style="height:100px;overflow:scroll">
	<%if(this.model.comments().length === 0 ){%>	
		No comments!
	<%}%>
</div>
<div class="main-comments-form">main-comments-form</div>