<div class="post-blowup-map">post-blowup-map</div>
<div style="color:white">
	
<strong>
	Posted by <a href="#/users/<%=this.model.get('user_id')%>"><%=this.model.get("username")%></a>
	on <%=this.model.get('date') %>
<strong>
</div>
<div class="comments-list" style="height:100px;overflow:scroll">
	<%if(this.model.comments().length === 0 ){%>	
		<h1>No comments!</h1>
	<%}%>
</div>
<div class="main-comments-form">main-comments-form</div>