<div class="row">
	<div class="main-posts col-xs-8 col-xs-offset-1"></div>
	<div class="new-content col-xs-3"></div>
</div>
<div class="row">
	<div class="introduction col-xs-8 col-xs-offet-4 text-center">
		<%if(recent){%>
			<h4>You are now viewing the main page, it shows a series of random posts to give a window into the collective unconscious.</h4>
		<%}%>
	</div>
</div>
