/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap";

li.expandPost{
	margin: 0%;
	float: top;
}

li.expandPost:hover{
	border: thin solid black;
	background-color: gray;
//	margin: -1%;
//	width: 100%;
	
//	padding: -1%;
}

ul.posts {
	border: thin solid red;
	list-style-type: none;
	padding: 0;
	maring: 0;
}

.main-posts li {
	margin: 1%;
	display: inline-block;
	float: left;
	border: thin solid gray;
	height: 180px;
	width: 180px;
	overflow: scroll;
//	background: black;
	font-color: white;
}

.main-posts h6 {
	border: thin solid red;
	display: inline-block;
	vertical-align: bottom;
}

.main-posts h4 {
	font-size: 1.25em;
	border: thin solid red;
	display: inline-block;
	vertical-align: bottom;
}

.main-posts * {
	text-align: justify;
}