<!-- navbar-fixed-top -->
<nav class="navbar navbar-inverse " role="navigation">
<div class="container container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
		
    <a class="navbar-brand" href="#">Teaccup</a>
	 <a class="navbar-brand" href="#/home">Dashboard</a>
  </div>
	
	
	
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<!-- Button trigger modal -->

    <ul class="nav navbar-nav navbar-right">
    <% if logged_in? %>
      <li id='search-bar'>
					<a class="search" id="search">Search</a> 
      </li>
			<li>
				<div class="btn-group">
				  <button type="button" class="btn btn-primary navbar-btn dropdown-toggle" data-toggle="dropdown">
				    Visualizations <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu">
				    <li><a class="btn" href="#/trends">Trends</a></li>
				    <li><a class="btn" href="#/scatter">Users</a></li>
				  </ul>
				</div>
			</li>
			<li>
				<div class="btn-group">
				  <button type="button" class="btn btn-primary navbar-btn dropdown-toggle" data-toggle="dropdown">
				    Menu <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu">
				    <li><a href="#/userhome">Go To My Page</a></li>
				    <li><a class="btn" data-toggle="modal" data-target="#myModal">What is Teacup?</a></li>
				    <li><%= link_to "Sign out", session_url, method: :delete %></li>
				  </ul>
				</div>
			</li>
    <% else %>
			<li>
				<button class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#myModal">
				  What is Teacup?
				</button>
			</li>
      <li><%= link_to "Log in", new_session_url %></li>
      <li><%= link_to "Sign up", new_user_url %></li>
			
    <% end %>

    </ul>
  </div>
</div>
</nav>

<div class="row">
	<div class="col-xs-6 col-xs-offset-3">
		<% if flash[:errors] %>
		<div class="alert alert-warning alert-dismissible" role="alert">
		   <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<%= flash[:errors].join("<br>").html_safe %>
		</div>
		<% end %>
		</div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">FAQ</h4>
      </div>
      <div class="modal-body">
      	 <div>
					 <ul>
			 			<li>
							<h2>What is Teacup? </h2>
							<h4><i> Teacup is an attempt to stare into the eye of the collective unconscious and to know it's thoughts.</i> </h4>
						</li>
			 			<li>
							<h2>Why is Teacup a microblogging platform? </h2>
							<h4><i>While we fully acknowledge that dreams are usually complex and highly multi-layered much of our effort in this project is to attempt to see specific trends, and by insisting that descriptions be paired down to their most elemental we can be more confident that we are analyzing the important subjects of dreams rather than just the myriad of extraneous details that come along for the ride. </i> </h4>
						</li>
			 			<li>
							<h2>Who made Teacup? </h2>
							<h4><i>Teacup was made by Andrew McNutt, whose other work can be found <a href="https://github.com/mcnuttandrew">here</a>, <a href="https://mcnuttart.tumblr.com">here</a>, and <a href="http://www.openprocessing.org/user/35187">here</a>. He can be reached at mcnutt.andrew@gmail.com</i> </h4>
						</li>
					</ul>
		 		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>